body {
  background-color: black;
  text-align: center; }

.top h1 {
  color: #fff;
  font-family: Verdana;
  font-size: 50px; }

.top a {
  display: block; }

.link {
  color: aquamarine;
  font-size: 16px; }

.center h2, .bottom h2 {
  color: #fff;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px; }

.center p {
  color: grey;
  font-family: Verdana;
  font-size: 21px; }

.footer {
  text-align: right;
  color: grey; }
